@import '../../../../styles/variables/theme';
@import '~@angular/material/theming';

$label-color: mat-color($foreground, text);

flox-case-dashboard {
  .mat-expansion-panel-header {
    padding: 0;
    height: 66px !important;
    color: $label-color;
  }

  .mat-content {
    align-items: center;
    position: relative;

    > div {
      padding: 10px 0;
      &:last-child {
        padding-right: 20px;
      }
    }

    .more-vert {
      position: absolute;
      right: 0;
    }
  }

  .mat-title,
  .mat-subheading-1 {
    font-weight: 500;
    margin: 0;
  }

  .divider {
    border-top: 1px solid mat-color($foreground, divider);
  }

  .header-label {
    color: mat-color($foreground, secondary-text);
    font-weight: 500;

    &:last-child {
      padding-right: 20px;
    }
  }

  h6 {
    margin: 0;
  }

  .case-count {
    color: mat-color($foreground, secondary-text);
    font-size: 24px;
  }

  a .mat-icon {
    height: auto;
    width: auto;
    font-size: inherit;
    text-decoration: none;
  }

  .mat-expansion-panel-body {
    padding: 10px;
  }

  .badge {
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    font-size: 12px;
    padding: 0 6px;

    background-color: mat-color($foreground, icon);
    color: rgb(255, 255, 255);
  }

  .flox-issue {
    color: mat-color($foreground, secondary-text);
    font-size: 12px;
  }
}


