<div class="px-12">
  <div fxLayout="row" fxLayoutGap="20px" class="py-12">
    <div fxFlex="40" class="td-search-wrapper mat-elevation-z2" fxLayout="row">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <td-search-input placeholder="Search here" [showUnderline]="false" [debounce]="500"></td-search-input>
    </div>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center" fxLayoutGap="20px">
      <button mat-raised-button [color]="myCases ? 'primary': null" (click)="toggleMyCases()">
        <span class="text-uppercase">View My Cases</span>
      </button>
      <div class="mat-elevation-z2 priority">
        <span class="text-uppercase px-12">Status</span>
        <button mat-button [matMenuTriggerFor]="priorityMenu" disableRipple>
          <span class="text-uppercase">{{priority.name}}</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </div>
      <button mat-raised-button>
        <span class="text-uppercase">Filters</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>
  </div>

  <div class="flox-avatar-wrapper py-8 pl-12" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"
       *ngIf="!myCases">
    <img class="flox-avatar small" src="assets/images/avatars/alice.jpg" alt="">
    <img class="flox-avatar small" src="assets/images/avatars/alice.jpg" alt="">
    <img class="flox-avatar small" src="assets/images/avatars/alice.jpg" alt="">
    <img class="flox-avatar small" src="assets/images/avatars/alice.jpg" alt="">
    <button mat-icon-button>
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>

  <!--header-->
  <div fxLayout="row" fxLayoutAlign="center center" class="py-12">
    <div fxFlex class="text-center header-label">
      Patient
    </div>
    <div fxFlex class="text-center header-label">
      Status
    </div>
    <div fxFlex class="text-center header-label">
      Planned Type
    </div>
    <div fxFlex class="text-center header-label">
      POC Type
    </div>
    <div fxFlex class="text-center header-label">
      Main Dx
    </div>
  </div>

  <!--case list-->
  <mat-accordion class="expand-list">
    <mat-expansion-panel hideToggle *ngFor="let row of rows" #itemRow [ngClass]="row">
      <mat-expansion-panel-header *ngIf="!itemRow.expanded">
        <div fxFlex class="text-center" fxLayout="row" fxLayoutAlign="center center">
          <div class="pr-4 flox-avatar-wrapper">
            <img class="flox-avatar small" src="assets/images/avatars/alice.jpg" alt="">
          </div>
          <div>
            <div class="mat-subheading-1">Abbey Christensen</div>
            <span class="mat-caption">Male, 35y / Feb 12 - 1990</span>
          </div>
        </div>
        <div fxFlex class="text-center">
          <div>In Progress</div>
          <span class="mat-caption">Last Update:</span>
          <span class="mat-caption text-accent">12/01/2017</span>
        </div>
        <div fxFlex class="text-center">
          Planned Type
        </div>
        <div fxFlex class="text-center">
          POC Type
        </div>
        <div fxFlex class="text-center">
          Diabetes Insipidus
        </div>
        <button mat-icon-button [matMenuTriggerFor]="appMenu" class="more-vert" (click)="preventPropagetion($event)">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-expansion-panel-header>

      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex>
          <h6>Patient Information</h6>
          <div fxLayout="row">
            <div class="pr-8">
              <div class="flox-avatar-wrapper">
                <img class="flox-avatar huge" src="assets/images/avatars/alice.jpg" alt="patient avatar">
                <div class="flox-status">
                  <mat-icon>accessible</mat-icon>
                </div>
              </div>
            </div>
            <div fxFlex>
              <div class="mat-headline">Abbey Christensen</div>
              <div class="mat-subheading-2 divider m-0">Male, 35y / Feb 12 - 1990</div>
              <div fxLayout="row" fxLayoutAlign="end end">
                <a mat-button class="pr-4" (click)="showPersonalInfo()">Patient Information
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex>
          <h6>Case information</h6>
          <div fxLayout="row">
            <div fxFlex>
              <div class="header-label">Reason</div>
              <span>Unknown</span>
            </div>
            <div fxFlex>
              <div class="header-label">Case Duration</div>
              <span>3 months</span>
            </div>
          </div>
          <div class="pt-16">
            <div class="header-label">Diagnosis</div>
            <span>Diabetes Insipidus</span>
          </div>
        </div>
        <div fxFlex="150px">
          <h6>1 month ago</h6>
          <button mat-raised-button color="accent">
            <span class="text-uppercase">In Progress</span>
          </button>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div><span class="flox-issue">Problems</span> <span class="badge">3</span></div>
        <div><span class="flox-issue">Medications</span> <span class="badge">3</span></div>
        <div><span class="flox-issue">Allergies</span> <span class="badge">3</span></div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end end">
        <button mat-button (click)="itemRow.expanded = false">Close</button>
        <button mat-button color="accent">View Patient Chart</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!--Row menu-->
<mat-menu overlapTrigger="false" #appMenu="matMenu">
  <button mat-menu-item>Assigned to</button>
  <button mat-menu-item>Add Note</button>
  <button mat-menu-item>Add to Transportation</button>
  <button mat-menu-item>Send Notification</button>
  <button mat-menu-item>Add Task</button>
  <button mat-menu-item>Change Status</button>
  <button mat-menu-item>Upload Documents</button>
</mat-menu>

<mat-menu #priorityMenu="matMenu">
  <button mat-menu-item *ngFor="let p of priorities" (click)="setPriority(p)">
    <span class="pointer" [ngClass]="p.color"></span>{{p.name}}
  </button>
</mat-menu>
