@import '../../../../styles/variables/theme';
@import '~@angular/material/theming';

flox-case-dashboard {
  display: block;
  padding: 0 30px;

  .mat-title,
  .mat-subheading-1 {
    font-weight: 500;
    margin: 0;
  }

  .divider {
    border-top: 1px solid mat-color($foreground, divider);
  }

  h6 {
    margin: 0;
  }

  .case-count {
    color: mat-color($foreground, secondary-text);
    font-size: 24px;
  }

  a .mat-icon {
    height: auto;
    width: auto;
    font-size: inherit;
    text-decoration: none;
  }

  .badge {
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    font-size: 12px;
    padding: 0 6px;

    background-color: mat-color($foreground, icon);
    color: rgb(255, 255, 255);
  }

  .flox-issue {
    color: mat-color($foreground, secondary-text);
    font-size: 12px;
  }

  .priority {
    background: mat-color($background, card);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

}

.pointer {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;

  &.warn {
    background: mat-color($warn);
  }
  &.warning {
    background: #F8CB5B;
  }
  &.primary {
    background: mat-color($primary);
  }
  &.accent {
    background: mat-color($accent);
  }
}


