<div>
  <div class="menu-item" fxLayout="row" fxLayoutAlign="start center" routerLink="/app/case-dashboard" routerLinkActive="active">
    <mat-icon fxFlex="30px">assignment</mat-icon>
    <span>Cases</span>
  </div>
  <div class="menu-item" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon fxFlex="30px">assignment</mat-icon>
    <span>Reports</span>
  </div>
  <div class="menu-item" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon fxFlex="30px">assignment</mat-icon>
    <span>My Tasks</span>
  </div>
</div>
