<mat-toolbar class="p-0 mat-elevation-z1">
  <!--<mat-progress-bar class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>-->
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
    <span fxFlex="20">
      <mat-icon svgIcon="logo" color="primary" class="primary-icon"></mat-icon>
      <span class="mat-headline ml-4 text-primary">{{ title | uppercase }}</span>
    </span>
    <flox-navbar fxFlexOffset="2" fxFlex="62"></flox-navbar>
    <span fxFlexOffset="2" fxFlex="10">
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>apps</mat-icon>
      </button>
      <mat-menu #menu="matMenu" overlapTrigger="false" class="p-8">
          <div fxLayout="row">
            <div fxFlex="33" *ngFor="let app of apps" fxLayout="column" fxLayoutAlign="center center">
              <div fxLayout="row" fxLayoutAlign="center">
                <a href="{{ app.url }}" mat-icon-button target="_blank">
                  <img src="{{app.logoUrl}}" alt="{{app.appName}}" class="size-50">
                </a>
              </div>
              <div fxLayout="row" fxLayoutAlign="center" >
                <p class="mat-typography">{{ app.appName }}</p>
              </div>
            </div>
        </div>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="user">
        <img src="/assets/images/avatars/alice.jpg" class="img-circle"/>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #user="matMenu" overlapTrigger="false">
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Exit</span>
          </button>
      </mat-menu>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
