button,
input[type=email],
input[type=tel],
input[type=text],
input[type=password],
input[type=image],
input[type=submit],
input[type=button],
input[type=search],
textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}

label.mat-label {
  color: mat-color($foreground, secondary-text);
  font-size: 16px;
  font-weight: 400;
}

.td-search-wrapper {
  background-color: mat-color($background, card);

  td-search-input {
    display: block;
    flex: 100%;
  }
}

.td-search-input {
  height: 40px;
  background-color: white;
  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
  .mat-form-field-infix {
    border-top: none;
  }
}
