<div fxLayout="column" fxFill>
  <div fxFlex="100" class="pl-12 pr-12" style="overflow-y: auto;" floxFusePerfectScrollbar>
    <mat-toolbar>
      New Patient
    </mat-toolbar>
    <form formGroup="patientForm">
      <mat-tab-group>
        <mat-tab label="General">
          <h3>Personal Information</h3>
          <mat-form-field>
            <input matInput formControlName="firstName" placeholder="First Name" />
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="lastName" placeholder="Last Name" />
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="socialSecurity" placeholder="Social Security" />
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="maritalStatus" placeholder="Marital Status" />
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date Birthday" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker formControlName="dob"></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-chip-list #chipLanguages [formControlName]="language">
              <mat-chip [selectable]="true" [removable]="true" *ngFor="let lang of languages" (remove)="removeLanguage(lang)">
                {{lang}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input placeholder="Add new language"
                     [matChipInputFor]="chipLanguages"
                     [matChipInputAddOnBlur]="true"
                     (matChipInputTokenEnd)="addLanguage($event)" />
            </mat-chip-list>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Ethnicity" formControlName="ethnicity">
              <mat-option *ngFor="let eth of ethnicities" [value]="eth">
                {{ eth }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <h4>Insurance</h4>
          <mat-form-field>
            <mat-checkbox [formControlName]="insPrimary">Primary</mat-checkbox>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="insGroupName" placeholder="Group Name" />
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="insGroupId" placeholder="Group Id" />
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="insPlanCode" placeholder="Plan Code" />
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="insClaimMember" placeholder="Claim Member" />
          </mat-form-field>
        </mat-tab>
        <mat-tab label="Employment">Content 2</mat-tab>
        <mat-tab label="Registration"></mat-tab>
      </mat-tab-group>
    </form>
  </div>
  <mat-toolbar fxLayout="row" fxLayoutAlign="center center" class="bottom-bar">
    <button mat-button (click)="close()" type="button">{{'Cancel' | uppercase}}</button>
    <button mat-button color="primary" type="submit">{{'Save information' | uppercase}}</button>
  </mat-toolbar>
</div>
