<mat-dialog-content>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="mb-16">
    <div class="flox-avatar-wrapper">
      <img class="flox-avatar" src="assets/images/avatars/alice.jpg" alt="patient avatar">
      <div class="flox-status">
        <mat-icon>accessible</mat-icon>
      </div>
    </div>
    <div class="mat-headline mb-0">Abbey Christensen</div>
    <div>
      Male
    </div>
    <div>
      <mat-icon color="accent" class="font-size-18">cake</mat-icon>
      <span>Feb 12 - 1990 (36 years old)</span>
    </div>
    <div>
      MRA: 3.33
    </div>
  </div>
  <mat-tab-group dynamicHeight>
    <mat-tab label="Personal Information">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent" svgIcon="relationship"></mat-icon>
              <span>Married</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">palette</mat-icon>
              <span>Caucacian</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent" svgIcon="church"></mat-icon>
              <span>Catholic</span>
            </mat-list-item>
          </mat-list>
          <mat-divider></mat-divider>
        </div>
        <div fxFlex>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">home</mat-icon>
              <span>Townsville, ST 1234566</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">phone</mat-icon>
              <span>810-555—4415</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">phone_iphone</mat-icon>
              <span>810-555—4415</span>
            </mat-list-item>
          </mat-list>
          <mat-divider></mat-divider>
        </div>
        <div fxFlex>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent" svgIcon="languages"></mat-icon>
              <span>English, Spanish</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent" svgIcon="medical-id"></mat-icon>
              <span>1235321514</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">assignment</mat-icon>
              <span>CarePlus</span>
            </mat-list-item>
          </mat-list>
          <mat-divider></mat-divider>
        </div>
      </div>
      <div>
        <h4 class="mb-0">Contact Emergency</h4>
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex fxLayout="row" fxLayoutAlign="center center">
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon color="accent">person</mat-icon>
                <span>Janneth Vane Doe</span>
              </mat-list-item>
            </mat-list>
          </div>
          <div fxFlex>
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon color="accent" svgIcon="relationship"></mat-icon>
                <span>Whife</span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon color="accent">home</mat-icon>
                <span>Townsville, ST 1234566</span>
              </mat-list-item>
            </mat-list>
          </div>
          <div fxFlex>
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon color="accent">phone</mat-icon>
                <span>810-555—4415</span>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon color="accent">phone_iphone</mat-icon>
                <span>810-555—4415</span>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Medical Information">
      <div class="pv-8" fxLayout="row">
        <div fxFlex="1 1 auto" class="py-12 pl-12">
          <span>Care Primary Physician:</span>
          <div class="mat-title text-accent">Dr. Victor Rivera</div>
          <div>
            <span>
            Last Visit:
          </span>
            <span class="ml-8 text-accent">
            12/12/12
          </span>
          </div>
          <div>
            <span>Realized by:</span>
            <span class="ml-8 text-accent">Dr. Victor Rivera</span>
          </div>
        </div>
        <div fxFlex="1 1 auto" class="py-12">
          <span>Recent Vital: 10/10/12</span>
          <span class="mat-caption ml-8">
            <span class="text-bold">Seen by:</span>
            <span>Dr. Victor Rivera</span>
          </span>
          <div fxLayout="row">
            <div fxFlex="50">
              <mat-list>
                <mat-list-item>
                  <mat-icon mat-list-icon color="accent" svgIcon="blood-pressure"></mat-icon>
                  <span>142/90</span>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon mat-list-icon color="accent" svgIcon="hearth-rate"></mat-icon>
                  <span>76 bpm</span>
                </mat-list-item>
              </mat-list>
            </div>
            <div fxFlex="50">
              <mat-list>
                <mat-list-item>
                  <mat-icon mat-list-icon color="accent" svgIcon="weight"></mat-icon>
                  <span>5'10 - 196 Lbs</span>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon mat-list-icon color="accent">favorite</mat-icon>
                  <span>Married</span>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions class="align-right bordered">
  <button mat-button mat-dialog-close>
    Close
  </button>
</mat-dialog-actions>
