<mat-sidenav-container>

  <div id="fuse-main-content">

    <!-- TOOLBAR: Above -->
    <ng-container *ngIf="fuseSettings.layout.toolbar === 'above'">
      <fuse-toolbar class="above"></fuse-toolbar>
    </ng-container>
    <!-- / TOOLBAR: Above -->

    <!-- NAVBAR: Top -->
    <fuse-navbar-horizontal class="top-navbar" fxHide fxShow.gt-md
                            [ngClass]="fuseSettings.colorClasses.navbar"
                            *ngIf="fuseSettings.layout.navigation === 'top'">
    </fuse-navbar-horizontal>
    <!-- / NAVBAR: Top -->

    <div id="wrapper">

      <!-- NAVBAR: Left -->
      <fuse-navbar-vertical [folded]="fuseSettings.layout.navigationFolded"
                            class="left-navbar"
                            [ngClass]="fuseSettings.colorClasses.navbar"
                            *ngIf="fuseSettings.layout.navigation === 'left' || fuseSettings.layout.navigation === 'top'">
      </fuse-navbar-vertical>
      <!-- / NAVBAR: Left -->

      <div class="content-wrapper">

        <!-- TOOLBAR: Below -->
        <ng-container *ngIf="fuseSettings.layout.toolbar === 'below'">
          <fuse-toolbar class="below"></fuse-toolbar>
        </ng-container>
        <!-- / TOOLBAR: Below -->

        <fuse-content></fuse-content>


      </div>

      <!-- NAVBAR: Right -->
      <fuse-navbar-vertical [folded]="fuseSettings.layout.navigationFolded"
                            class="right-navbar"
                            [ngClass]="fuseSettings.colorClasses.navbar"
                            *ngIf="fuseSettings.layout.navigation === 'right'">
      </fuse-navbar-vertical>
      <!-- / NAVBAR: Right -->

    </div>

  </div>
  <button class="fab-actions" mat-fab [matMenuTriggerFor]="appMenu">
    <mat-icon>add</mat-icon>
  </button>

  <!-- QUICK PANEL -->
  <mat-sidenav class="form-container" position="end" mode="over" disableClose>
    <router-outlet name="form"></router-outlet>
  </mat-sidenav>
  <!-- / QUICK PANEL -->

</mat-sidenav-container>
<mat-menu #appMenu="matMenu" overlapTrigger="false" class="fab-menu-panel">
  <div class="menu-item">
    <span class="item-title">New Patient</span>
    <button mat-mini-fab>
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
  <div class="menu-item">
    <span class="item-title">New Task</span>
    <button mat-mini-fab>
      <mat-icon>assignment</mat-icon>
    </button>
  </div>
  <div class="menu-item">
    <span class="item-title">New Case</span>
    <button mat-mini-fab (click)="displayQuickCase()">
      <mat-icon>create_new_folder</mat-icon>
    </button>
  </div>
</mat-menu>
