<div class="main-container" fxFlex="100" style="overflow-y: auto">
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center" id="header">
      <span class="h1">Remminder</span>
      <mat-icon>keyboard_arrow_right</mat-icon>
      <span class="h1">6 tasks</span>
    </div>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center" fxLayoutGap="20px">

      <div>Type of view</div>
      <div><mat-icon>list</mat-icon></div>
      <div class="link"><a routerLink="/app/task/calendar"><mat-icon>event</mat-icon></a></div>
    </div>
  </div>

  <div class="example-container mat-elevation-z8">

    <mat-table #table [dataSource]="dataSource" class="table-border">

      <ng-container matColumnDef="subject">
        <mat-header-cell *matHeaderCellDef> Subject</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.subject}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="type_activity">
        <mat-header-cell *matHeaderCellDef> Type Activity</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.type_activity}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient">
        <mat-header-cell *matHeaderCellDef> Patient</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.patient}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="doctor">
        <mat-header-cell *matHeaderCellDef> Doctor</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.doctor}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>


  <div fxLayout="row" fxLayoutGap="20px" style="margin-top: 15px">
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center" id="header">
      <span class="h1">My Task</span>
      <mat-icon>keyboard_arrow_right</mat-icon>
      <span class="h1">31 tasks</span>
    </div>
  </div>

  <div class="example-container mat-elevation-z8">

    <mat-table #table [dataSource]="MydataSource">

      <ng-container matColumnDef="subject">
        <mat-header-cell *matHeaderCellDef> Subject</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.subject}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="type_activity">
        <mat-header-cell *matHeaderCellDef> Type Activity</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.type_activity}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="patient">
        <mat-header-cell *matHeaderCellDef> Patient</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.patient}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="doctor">
        <mat-header-cell *matHeaderCellDef> Doctor</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.doctor}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
