<div fxLayout="column" fxFill>

  <div style="padding: 10px 30px 10px 20px;">
    <mat-toolbar fxLayout="row" class="p-0">
      <div fxFlex="50" fxLayoutAlign="left center">Start POC</div>
      <div fxFlex="50" fxLayout="row" fxLayoutAlign="end center">
        <span class="mr-4" style="font-size: 14px;">Abbey Christensen</span>
        <img class="avatar ml-4" src="assets/images/avatars/profile.jpg">
      </div>
    </mat-toolbar>
    <mat-divider></mat-divider>
  </div>

  <div [ngSwitch]="mode" fxFlex="100" fxLayout="column">
    <flox-list (listEvent)="changeMode($event)" *ngSwitchCase="'list'" [data]="systems"></flox-list>
    <flox-detail *ngSwitchCase="'detail'" [data]="details"></flox-detail>
  </div>

  <mat-toolbar fxLayout="row" fxLayoutAlign="center center" class="bottom-bar">
    <button mat-button (click)="close()" type="button">{{'Cancel' | uppercase}}</button>
    <button mat-button color="primary" type="submit">{{'Save' | uppercase}}</button>
  </mat-toolbar>

</div>
