<div fxLayout="column" fxFill>
  <div fxFlex="100" class="pl-12 pr-12" style="overflow-y: auto" fusePerfectScrollbar>
    <mat-toolbar>
      New Case
    </mat-toolbar>
    <hr>
    <form [formGroup]="caseForm" novalidate id="quickCaseForm" (ngSubmit)="onSubmit(caseForm)">
      <div fxLayout="row">
        <mat-form-field ngxErrors="case" fxFlex="50%">
          <input matInput placeholder="Subject Case" formControlName="case">
          <mat-error ngxError="case" when="touched">
            Subject Case is required
          </mat-error>
        </mat-form-field>
      </div>
      <mat-form-field ngxErrors="description">
        <textarea matInput formControlName="description" placeholder="Description" matTextareaAutosize
                  matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
        <mat-error ngxError="required" when="touched">
          Description is required
        </mat-error>
      </mat-form-field>
      <div>Status</div>
      <mat-button-toggle-group formControlName="status">
        <mat-button-toggle value="OPEN">
          Open
        </mat-button-toggle>
        <mat-button-toggle value="IN_PROGRESS">
          In Progress
        </mat-button-toggle>
        <mat-button-toggle value="FINISH">
          Finished
        </mat-button-toggle>
      </mat-button-toggle-group>
      <hr>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="text-right pr-8" fxFlex="150px">
          Assigned to:
        </div>
        <div fxFlex="100">
          <mat-form-field>
            <mat-chip-list #chipList>
              <mat-chip [selectable]="true" [removable]="true">
                <mat-icon>account_circle</mat-icon>
                Dr. Abbey
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input [matChipInputFor]="chipList">
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="text-right pr-8" fxFlex="150px">
          <mat-checkbox formControlName="linkPatient">Link a Patient</mat-checkbox>
        </div>
        <div fxFlex="100">
          <mat-form-field>
            <mat-chip-list #chipList>
              <mat-chip [selectable]="true" [removable]="true">
                <mat-icon>account_circle</mat-icon>
                John Doe
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input [matChipInputFor]="chipList">
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
      <hr>
      <h3 class="subheading-1 text-bold">Transportation</h3>
      <div fxLayout="row" formGroupName="transportation" fxLayoutGap="10px">
        <mat-form-field fxFlex="25" ngxErrors="transportation.date">
          <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error ngxError="required" when="touched">
            Date is required
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex ngxErrors="transportation.location">
          <textarea matInput formControlName="location" placeholder="Location" matTextareaAutosize
                    matAutosizeMaxRows="5"></textarea>
          <mat-error ngxError="required" when="touched">
            Location is required
          </mat-error>
        </mat-form-field>
      </div>
      <hr>
      <h3 class="subheading-1 text-bold">Attachments</h3>
      <flox-file-list #fileList></flox-file-list>
      <div fxLayout="row" fxLayoutAlign="end end" class="pb-8">
        <flox-upload multiple [fileList]="fileList" formControlName="files"></flox-upload>
      </div>
    </form>
  </div>
  <mat-toolbar fxLayout="row" fxLayoutAlign="center center" class="bottom-bar">
    <button mat-button (click)="close()" type="button">Cancel</button>
    <button mat-button color="primary" form="quickCaseForm" type="submit">Create Case</button>
  </mat-toolbar>
</div>
