<div class="px-20 page-layout blank" fusePerfectScrollbar>
  <div fxLayout="row" fxLayoutGap="20px" class="py-12" fxLayoutAlign="end center">
    <button mat-raised-button [color]="myCases ? 'primary': null" (click)="toggleMyCases()">
      <span class="text-uppercase">View My Cases</span>
    </button>
    <div class="mat-elevation-z2 priority">
      <span class="text-uppercase px-12 font-weight-500">Status</span>
      <button mat-button [matMenuTriggerFor]="priorityMenu" disableRipple>
        <span class="text-uppercase">{{priority.name}}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>
    <!-- <button mat-raised-button>
      <span class="text-uppercase">Filters</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button> -->
  </div>

  <div class="flox-avatar-wrapper py-8 pl-12" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"
       *ngIf="!myCases">
    <img class="avatar" src="assets/images/avatars/jane.jpg" alt="">
    <img class="avatar" src="assets/images/avatars/andrew.jpg" alt="">
    <img class="avatar" src="assets/images/avatars/carl.jpg" alt="">
    <img class="avatar" src="assets/images/avatars/Christy.jpg" alt="">
    <button mat-icon-button>
      <mat-icon>more_horiz</mat-icon>
    </button>
  </div>


  <mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="patient">
      <mat-header-cell *matHeaderCellDef> Patient</mat-header-cell>
      <mat-cell *matCellDef="let element" routerLink="/app/cases/summary/{{element.id}}">
        <div fxLayout="row">
          <img class="avatar" src="assets/images/avatars/{{element.avatar}}.jpg" alt="">
          <div>
            <div class="font-weight-500">{{element.name}}</div>
            <span class="mat-caption">{{element.gender}}, {{element.dob}}</span>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="font-weight-500">{{element.status}}</div>
        <div>Last Update on {{element.updated}}</div>
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="pocType">
      <mat-header-cell *matHeaderCellDef> POC / Type</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>{{element.type}}</div>
        <span class="mat-caption">{{element.pocType}}</span>
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="mainDx">
      <mat-header-cell *matHeaderCellDef> Main Dx</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.mainDx}}
      </mat-cell>
    </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef fxFlex="50px"> </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="50px">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" yPosition="below">
                    <button mat-menu-item (click)="openPoc(element.id)">Start POC</button>
                    <button mat-menu-item>Assign to</button>
                    <button mat-menu-item>Add Note</button>
                    <button mat-menu-item>Add to Transportation</button>
                    <button mat-menu-item>Send Notification</button>
                    <button mat-menu-item>Change Status</button>                    
                  </mat-menu>
            </mat-cell>
        </ng-container>
    


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<!--Row menu-->
<mat-menu overlapTrigger="false" #appMenu="matMenu">
  <button mat-menu-item>Assigned to</button>
  <button mat-menu-item>Add Note</button>
  <button mat-menu-item>Add to Transportation</button>
  <button mat-menu-item>Send Notification</button>
  <button mat-menu-item>Add Task</button>
  <button mat-menu-item>Change Status</button>
  <button mat-menu-item>Upload Documents</button>
</mat-menu>

<mat-menu #priorityMenu="matMenu">
  <button mat-menu-item *ngFor="let p of priorities" (click)="setPriority(p)">
    <span class="pointer" [ngClass]="p.color"></span>{{p.name}}
  </button>
</mat-menu>
