mat-sidenav-container {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
}

mat-sidenav-content {
  min-width: 1280px;
  overflow-x: scroll;

  main {
    overflow: auto;
    padding: 10px 10px 0 10px;
  }
}
