.br-yellow{
  box-shadow: inset 5px 0px 0px 0px rgba(248, 203, 91, 1);
}

.mat-row {
  height: 32px;
  padding: 0px;
}
.mat-row {
  min-height: 32px;
}
.mat-cell, .mat-header-cell {
  overflow: inherit;
}

mat-expansion-panel-header.mat-expanded{
  height: 48px;
}
