<div class="content">

  <span class="text-date">Date update: 17/01/2018</span>
  
  <mat-toolbar class="title" fxLayoutAlign="center center">CARDIOVASCULAR</mat-toolbar>
  
  <mat-accordion>
    <mat-expansion-panel *ngFor="let detail of data">
      <mat-expansion-panel-header>
        <span class="sub-title">{{detail.title}}</span>
      </mat-expansion-panel-header>
      <div *ngIf="detail.subdetail" class="my-4 mb-4">
        <div *ngFor="let subdetail of detail.subdetail">
          <div *ngIf="subdetail.title" class="sub-title mb-4">{{subdetail.title}}</div>
          <div *ngFor="let item of subdetail.items">
            <div fxFlex="100" fxLayout="row" class="py-4">
              <mat-checkbox style="color:#3BDDA3;" [checked]="item.active" class="pr-4"></mat-checkbox>
              <span>{{item.text}}</span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="detail.form">
          <div *ngFor="let field of detail.form">
            <div [ngSwitch]="field.type">
              <mat-form-field *ngSwitchCase="'text'">
                <input matInput [placeholder]="field.label" [value]="field.value" />
              </mat-form-field>
              <mat-form-field *ngSwitchCase="'select'">
                <mat-select [placeholder]="field.label" [(value)]="field.value">
                  <mat-option *ngFor="let option of field.options" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-slide-toggle *ngSwitchCase="'switch'">{{field.label}}</mat-slide-toggle>
            </div>
          </div>
      </div>
    </mat-expansion-panel>  
  </mat-accordion>
  
</div>