.title {
  background-color: #F5F5F5 !important;
}

.sub-title {
  font-weight: bold;
  font-size: 16px;
}

.text-date {
  float: right;
  font-size: 12px;
}

.content {
  margin: 14px 40px 0 25px;
}

// .mat-checkbox-background {
//   background-color: #3BDDA3 !important;
// }