<div [formGroup]="employmentForm">
  <h3 class="subheading-1 text-bold">Work Information</h3>
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="50%" class="pr-8">
      <mat-form-field ngxErrors="status">
        <input matInput placeholder="Employee Status" formControlName="status">
        <mat-error ngxError="required" when="touched">
          Employee Status is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field ngxErrors="name" fxFlex="50%">
      <input matInput placeholder="Employee Name" formControlName="name">
      <mat-error ngxError="required" when="touched">
        Employee Name is required
      </mat-error>
    </mat-form-field>
    <div fxFlex="50%" formArrayName="phones">
      <mat-form-field ngxErrors="phones.0">
        <input matInput placeholder="Work Phone" formControlName="0">
        <mat-error ngxError="required" when="touched">
          Work Phone is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <ng-template ngFor let-controls [ngForOf]="phoneControl">
    <div fxLayoutWrap="row" formArrayName="phones">
      <div fxFlex="50%" class="pr-12" *ngFor="let i of controls">
        <mat-form-field>
          <input matInput placeholder="Other Work Phone" [formControlName]="i">
          <button matSuffix mat-icon-button type="button">
            <mat-icon matSuffix (click)="removePhone(i)">remove_circle</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </ng-template>
  <div fxLayout="row" fxLayoutAlign="end">
    <button type="button" mat-button (click)="addPhone()">Add other phone</button>
  </div>
</div>
