<div [formGroup]="insuranceForm">
  <ng-template ngFor let-item [ngForOf]="getInsurances.controls" let-i="index">
    <hr>
    <div formArrayName="insurances">
      <h3 *ngIf="i==0" class="subheading-1 text-bold">Insurance</h3>
      <ng-container [formGroupName]="i">
        <div fxLayout="row">
          <div fxFlex="50%">
            <mat-checkbox formControlName="primary">Primary</mat-checkbox>
          </div>
          <div fxFlex="50%" fxFlexAlign="end end">
            <button *ngIf="i > 0" mat-button (click)="removeInsurance(i)">Remove</button>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field ngxErrors="insurances.{{i}}.groupName" fxFlex="50%">
            <input matInput placeholder="Group Name" formControlName="groupName">
            <mat-error ngxError="required" when="touched">
              Group Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field ngxErrors="insurances.{{i}}.groupId" fxFlex="50%">
            <input matInput placeholder="Group Id" formControlName="groupId">
            <mat-error ngxError="required" when="touched">
              Group Id is required
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field ngxErrors="insurances.{{i}}.planCode" fxFlex="50%">
            <input matInput placeholder="Plan Code" formControlName="planCode">
            <mat-error ngxError="required" when="touched">
              Plan Code is required
            </mat-error>
          </mat-form-field>
          <mat-form-field ngxErrors="insurances.{{i}}.clain" fxFlex="50%">
            <input matInput placeholder="Clain Member" formControlName="clain">
            <mat-error ngxError="required" when="touched">
              Clain Member is required
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>
    </div>
  </ng-template>
  <div fxLayout="row" fxLayoutAlign="end">
    <button type="button" mat-button (click)="addInsurance()">Add other insurance</button>
  </div>
</div>
